{
    "extends": "standard",
    "parser": "babel-eslint",
    "env": {
        "amd": true,
        "es6": true,
        "browser": true,
        "node": false
    },
    "rules": {
        "no-new": "off"
    }
}
